example/workflow.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "mattermost/todos",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -840,
        100
      ],
      "id": "8fe2abff-effb-41dd-9ea6-fb66a8f65bf7",
      "name": "Webhook",
      "webhookId": "85de886d-2694-4df0-87b0-965db533f492"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.query.action }}",
                    "rightValue": "add",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "e9d2ff7f-314a-438e-af23-60b23248b274"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c9834751-9110-4926-975e-794d353aca3a",
                    "leftValue": "={{ $json.query.action }}",
                    "rightValue": "list",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "dfa382bb-fb0c-47b4-9f15-4fc09d0f4c57",
                    "leftValue": "={{ $json.query.action }}",
                    "rightValue": "done",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "6fc1c634-9af2-4ffe-af62-26849c844146",
                    "leftValue": "={{ $json.query.action }}",
                    "rightValue": "update",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -500,
        100
      ],
      "id": "626e8617-27e2-460e-926e-f5aff6a4e2e7",
      "name": "Determine Action"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "o3XstoocTwP2Ppiz",
          "mode": "list",
          "cachedResultName": "Complete Todo"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -40,
        300
      ],
      "id": "9dedbbfc-f826-4cbb-8a2c-19e636d8fa42",
      "name": "Execute Complete Todo Workflow"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "CUYJrjCaZFfUDail",
          "mode": "list",
          "cachedResultName": "Add Todo"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -40,
        -80
      ],
      "id": "76af4022-9bf5-45cf-a1ce-6c7160ae1d6f",
      "name": "Add Todo",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "CGBezuEsWHs6fbKP",
          "mode": "list",
          "cachedResultName": "Update Todo"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -40,
        520
      ],
      "id": "7776d2c7-71e5-44f7-af90-93a3185d0950",
      "name": "Update Todo"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "vlxBe5CQMtRORNrL",
          "mode": "list",
          "cachedResultName": "List Todo"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -40,
        100
      ],
      "id": "956caeee-e1b5-433e-ba17-40fa0c6ef490",
      "name": "List Todo"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Determine Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Determine Action": {
      "main": [
        [
          {
            "node": "Add Todo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "List Todo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute Complete Todo Workflow",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Todo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "e6829468b8f56d858129133d295d8fa9bedbd82172869cf86fc48c8e6e82b330"
  }
}