Mattermost_Todo_Stack_Workflow.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "mattermost/todos/:action",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1500,
        480
      ],
      "id": "6000f5ee-231b-4da9-b7f6-426123b388a1",
      "name": "Webhook",
      "webhookId": "85de886d-2694-4df0-87b0-965db533f492"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9d5c4504-db56-4c3b-8ccb-00045ff453f8",
              "name": "markdownTable",
              "value": "={{ $json.markdownTable }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        200,
        520
      ],
      "id": "c59cece7-0318-45e7-b69d-1eb2d12aad4f",
      "name": "Set Values1"
    },
    {
      "parameters": {
        "jsCode": "// Access incoming data\nconst data = items.map(item => item.json);\n\n// Define the table columns\nconst headers = [\"id\", \"user_name\", \"text\", \"assignee\", \"done\", \"priority\"];\n\n// Create the header row for Markdown\nlet markdownTable = `| ${headers.join(\" | \")} |\\n`;\nmarkdownTable += `|${headers.map(() => \":---\").join(\"|\")}|\\n`;\n\n// Loop through the array and create rows for the table\ndata.forEach(row => {\n  const tableRow = headers.map(header => row[header] || \"\").join(\" | \");\n  markdownTable += `| ${tableRow} |\\n`;\n});\n\n// Return the Markdown table as output\nreturn [{\n  json: {\n    markdownTable\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        20,
        520
      ],
      "id": "b7b36a06-30f9-44ca-8d11-416ba93fbf20",
      "name": "Convert to md table",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "insert",
        "collection": "todo",
        "fields": "channel_id,text,user_name,user_id,id,done,assignee,priority",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.1,
      "position": [
        960,
        180
      ],
      "id": "d1ab8153-fcff-4604-a503-9a6ddc21ee93",
      "name": "Add todo",
      "credentials": {
        "mongoDb": {
          "id": "mpJVL6vUNDV3B35S",
          "name": "mattermost"
        }
      }
    },
    {
      "parameters": {
        "content": "## 實作 increment id\n\n** id 最大值往上 + 1",
        "height": 400,
        "width": 560
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "c79f8ad4-8a6d-47de-b5d6-87b9d559dd63",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "透過 body parameter 的方式，避免使用 json \\n 會直接被 evaluate 導致回傳後 json 格式出錯\n",
        "height": 280,
        "width": 380
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        680,
        520
      ],
      "id": "6ab876fd-5b04-4f35-9e52-2c68b1c1758b",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "\n## avoid double quote",
        "height": 260,
        "width": 300
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        60,
        700
      ],
      "id": "de0881db-c8b0-49e5-8ad6-bccd90595395",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "collection": "todo",
        "options": {},
        "query": "={\"$and\":[{\"channel_id\": \"{{ $('Webhook').item.json.body.channel_id }}\"},{\"id\":{{ $json.body.text }}}]}"
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.1,
      "position": [
        -560,
        740
      ],
      "id": "9cb36067-d3bd-4a73-88a5-5f57756e5f68",
      "name": "Find Todo By Id",
      "credentials": {
        "mongoDb": {
          "id": "mpJVL6vUNDV3B35S",
          "name": "mattermost"
        }
      }
    },
    {
      "parameters": {
        "collection": "todo",
        "options": {},
        "query": "={\"$and\":[{\"channel_id\": \"{{ $('Webhook').item.json.body.channel_id }}\"},{\"done\":\":x:\"}]}"
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.1,
      "position": [
        -240,
        440
      ],
      "id": "f03378c1-a272-4598-975e-296319e666d5",
      "name": "Find Undone Todo",
      "credentials": {
        "mongoDb": {
          "id": "mpJVL6vUNDV3B35S",
          "name": "mattermost"
        }
      }
    },
    {
      "parameters": {
        "collection": "todo",
        "options": {},
        "query": "={\"channel_id\": \"{{ $('Webhook').item.json.body.channel_id }}\"}"
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.1,
      "position": [
        -240,
        600
      ],
      "id": "f3d63621-176e-42d9-8b9e-c4a4f8c6451d",
      "name": "Find All Todo",
      "credentials": {
        "mongoDb": {
          "id": "mpJVL6vUNDV3B35S",
          "name": "mattermost"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json.body.text;\n\n// Use a single regex to capture key-value pairs for both long (--key=value) and short (-k=value) options\nconst regex = /--([\\w-]+)=([\\w@.]+)|-([\\w])=([\\w@.]+)/g;\n\nlet matches;\nlet text = null;\nlet assignee = null;\nlet priority = null;\n\n// Loop through the matches\nwhile ((matches = regex.exec(input)) !== null) {\n    const key = matches[1] || matches[3]; // Get long option name or short key\n    const value = matches[2] || matches[4]; // Get the associated value\n\n    // Assign to the appropriate variable based on the key\n    if (key === 'content' || key === 'c') {\n        text = value;\n    } else if (key === 'assignee' || key === 'a') {\n        assignee = value;\n    } else if (key === 'priority' || key === 'p') {\n        priority = value;\n    }\n}\n\n// Return the results\nreturn { text, assignee, priority };"
      },
      "id": "89bdd5c2-2b0a-49aa-abf6-991ab41df1c2",
      "name": "Todo Creation Arg Converter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -600,
        240
      ]
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "max",
              "field": "id"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1.1,
      "position": [
        200,
        280
      ],
      "id": "28ad9945-ac92-46fe-9a25-bff34d1f42aa",
      "name": "Get Max Id"
    },
    {
      "parameters": {
        "collection": "todo",
        "options": {},
        "query": "={\"channel_id\": \"{{ $('Webhook').item.json.body.channel_id }}\"}"
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.1,
      "position": [
        -340,
        200
      ],
      "id": "dedf614e-7fea-468d-810a-c870bb23e616",
      "name": "Find All Existed Todo",
      "alwaysOutputData": true,
      "credentials": {
        "mongoDb": {
          "id": "mpJVL6vUNDV3B35S",
          "name": "mattermost"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "10f4ab02-7c65-49d2-9f8b-3be363f5a408",
              "name": "_id",
              "value": "={{ $json._id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -240,
        740
      ],
      "id": "08f6b0d1-13ca-4f9e-9ad2-f5722e15ae10",
      "name": "Set Id Field"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9739ca52-42f0-4775-b251-c0db1058b0d4",
              "name": "_id",
              "value": "={{ $json._id.replace(/\\\"/g, \"\") }}",
              "type": "string"
            },
            {
              "id": "b6adae5e-4c7c-49b1-935e-cad4490d23c8",
              "name": "done",
              "value": "=:white_check_mark:",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        120,
        740
      ],
      "id": "5445eed4-cbce-4f6c-987b-2d05fe29facc",
      "name": "Set Id & Replace \""
    },
    {
      "parameters": {
        "operation": "update",
        "collection": "todo",
        "updateKey": "=_id",
        "fields": "done",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.1,
      "position": [
        380,
        740
      ],
      "id": "627e5ce1-2ac5-4568-a2e2-16e4f96b53da",
      "name": "Complete Todo",
      "credentials": {
        "mongoDb": {
          "id": "mpJVL6vUNDV3B35S",
          "name": "mattermost"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "fac1d067-0739-409f-a012-97353e7a9dd1",
              "leftValue": "={{ $json.body.text }}",
              "rightValue": "all",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -600,
        480
      ],
      "id": "574c14a5-b501-4d59-a893-36d14d3e2092",
      "name": "If Not List All"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "bfb8506d-965f-492d-bb95-1f03d388722f",
              "leftValue": "={{ $('Webhook').first().json.body.text }}",
              "rightValue": "--silent",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        400,
        520
      ],
      "id": "906209e9-c40c-4170-ba4d-824a8ff24860",
      "name": "If Silent"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Webhook').first().json.body.response_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Token s5cp3xebgbyiun1rncn4bmgw9o"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $json.markdownTable }}"
            },
            {
              "name": "response_type",
              "value": "in_channel"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        800,
        600
      ],
      "id": "36504737-88b0-4e81-9637-087d9b72e707",
      "name": "Response to Channel"
    },
    {
      "parameters": {
        "url": "=https://chat.gss.tw/api/v4/teams/ryrniq9s6pggfxyoniqjpisxge/channels/name/{{ $('Webhook').first().json.body.user_id }}__{{ $('Webhook').first().json.body.user_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Cookie",
              "value": "MMAUTHTOKEN=a8ykq3d9q7dd3rodf5fuqchaur; MMUSERID=okao1ypwzjbiimd5oxccq7hdch; MMCSRF=qqem4zzhtjdbpbycf68djbu8tw; rl_page_init_referrer=RudderEncrypt%3AU2FsdGVkX1%2FNVG3dPwxfhdchkanpk4SkEU4KlzotB0Q%3D; rl_page_init_referring_domain=RudderEncrypt%3AU2FsdGVkX19Wa0qeMbhrm%2Fv4F9mqPFTduKD0dddkUO0%3D; rl_anonymous_id=RudderEncrypt%3AU2FsdGVkX1%2FChpwGOIWXqBFHqk5Zr3PPUCKtUW00O708PRLDmTah3Y7DbvemNWXDn3WT4HBDhqiSpulP3Q32Sg%3D%3D; rl_group_id=RudderEncrypt%3AU2FsdGVkX19bFnt0RyJrPC2HTFcJPMcWKlJ5HhQb1Xw%3D; rl_group_trait=RudderEncrypt%3AU2FsdGVkX19ckZI0TGBCaDpItPmTFcpZolqR8sRkc%2FY%3D; rl_user_id=RudderEncrypt%3AU2FsdGVkX1%2BtuzH4miurhhPqV%2Fvd%2FakDQj0O%2B6YWO3W7QOQM6pXoOY2GOt6epGQE; rl_trait=RudderEncrypt%3AU2FsdGVkX1%2FCUHvlwNTZOS0RDiDdDf%2FW89N5xSP5Qkc%3D"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        820,
        340
      ],
      "id": "b2c0fafd-7529-4415-b717-93f0bfe3a500",
      "name": "Search Personal Channel"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://chat.gss.tw/api/v4/posts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Cookie",
              "value": "MMAUTHTOKEN=a8ykq3d9q7dd3rodf5fuqchaur; MMUSERID=okao1ypwzjbiimd5oxccq7hdch; MMCSRF=qqem4zzhtjdbpbycf68djbu8tw; rl_page_init_referrer=RudderEncrypt%3AU2FsdGVkX1%2FNVG3dPwxfhdchkanpk4SkEU4KlzotB0Q%3D; rl_page_init_referring_domain=RudderEncrypt%3AU2FsdGVkX19Wa0qeMbhrm%2Fv4F9mqPFTduKD0dddkUO0%3D; rl_anonymous_id=RudderEncrypt%3AU2FsdGVkX1%2FChpwGOIWXqBFHqk5Zr3PPUCKtUW00O708PRLDmTah3Y7DbvemNWXDn3WT4HBDhqiSpulP3Q32Sg%3D%3D; rl_group_id=RudderEncrypt%3AU2FsdGVkX19bFnt0RyJrPC2HTFcJPMcWKlJ5HhQb1Xw%3D; rl_group_trait=RudderEncrypt%3AU2FsdGVkX19ckZI0TGBCaDpItPmTFcpZolqR8sRkc%2FY%3D; rl_user_id=RudderEncrypt%3AU2FsdGVkX1%2BtuzH4miurhhPqV%2Fvd%2FakDQj0O%2B6YWO3W7QOQM6pXoOY2GOt6epGQE; rl_trait=RudderEncrypt%3AU2FsdGVkX1%2FCUHvlwNTZOS0RDiDdDf%2FW89N5xSP5Qkc%3D"
            },
            {
              "name": "X-Csrf-Token",
              "value": "qqem4zzhtjdbpbycf68djbu8tw"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "={{ $('Convert to md table').item.json.markdownTable }}"
            },
            {
              "name": "channel_id",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1160,
        340
      ],
      "id": "74d26395-7706-40d4-b8c5-91278160d58f",
      "name": "Response To Personal Channel"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a2ee995f-23f8-4b66-9ecc-404b767cb48c",
              "name": "id",
              "value": "={{ $json.max_id +1 }} ",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        420,
        280
      ],
      "id": "e9647aca-c955-4e10-9da6-975c4c0de68d",
      "name": "Set Max ID + 1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e2a00ba9-7ea5-4ca6-9cc9-ccb3e90cdffe",
              "name": "channel_id",
              "value": "={{ $('Webhook').item.json.body.channel_id }}",
              "type": "string"
            },
            {
              "id": "00e7ba5e-5c2c-40a8-bbde-10562f7b7949",
              "name": "text",
              "value": "={{ $('Todo Creation Arg Converter').item.json.text }}",
              "type": "string"
            },
            {
              "id": "1e7580ec-82af-4669-8882-03ce3c2c224e",
              "name": "user_name",
              "value": "={{ $('Webhook').item.json.body.user_name }}",
              "type": "string"
            },
            {
              "id": "df68d03b-1adb-4395-97e6-9192cd025377",
              "name": "user_id",
              "value": "={{ $('Webhook').item.json.body.user_id }}",
              "type": "string"
            },
            {
              "id": "d61c4ddc-f021-4d86-9461-da750aec60cc",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "number"
            },
            {
              "id": "f1cbbba3-ba6e-4a85-8050-a78bbf98c9bf",
              "name": "done",
              "value": ":x:",
              "type": "string"
            },
            {
              "id": "c00560b1-83ba-4de6-a7ae-5f06270689f8",
              "name": "=assignee",
              "value": "={{ $('Todo Creation Arg Converter').item.json.assignee }}",
              "type": "string"
            },
            {
              "id": "a2048aa9-a5b0-4ac1-be6e-5cfcce86457b",
              "name": "priority",
              "value": "={{ $('Todo Creation Arg Converter').item.json.priority }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        640,
        180
      ],
      "id": "fb245877-760d-4bd0-9470-f655b5fdbf22",
      "name": "Set Insert Values",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a2ee995f-23f8-4b66-9ecc-404b767cb48c",
              "name": "id",
              "value": "1",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        200,
        80
      ],
      "id": "6d5556be-2476-4827-a74a-fd98c8f37f2f",
      "name": "Set Id 1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e894ab39-3f0e-4751-aac7-d796b3e8180f",
              "leftValue": "={{ $('Find All Existed Todo').item.json }}",
              "rightValue": 0,
              "operator": {
                "type": "object",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        0,
        200
      ],
      "id": "8fcbbf8b-7c87-42f8-97a5-84235090d9ab",
      "name": "If Exists Todo"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.params.action }}",
                    "rightValue": "add",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "e9d2ff7f-314a-438e-af23-60b23248b274"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c9834751-9110-4926-975e-794d353aca3a",
                    "leftValue": "={{ $json.params.action }}",
                    "rightValue": "list",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "dfa382bb-fb0c-47b4-9f15-4fc09d0f4c57",
                    "leftValue": "={{ $json.params.action }}",
                    "rightValue": "done",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1160,
        480
      ],
      "id": "280d8dc5-adaa-432c-b56c-948b5064a976",
      "name": "Determine Action"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Determine Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Values1": {
      "main": [
        [
          {
            "node": "If Silent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to md table": {
      "main": [
        [
          {
            "node": "Set Values1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Todo By Id": {
      "main": [
        [
          {
            "node": "Set Id Field",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Undone Todo": {
      "main": [
        [
          {
            "node": "Convert to md table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find All Todo": {
      "main": [
        [
          {
            "node": "Convert to md table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Todo Creation Arg Converter": {
      "main": [
        [
          {
            "node": "Find All Existed Todo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Max Id": {
      "main": [
        [
          {
            "node": "Set Max ID + 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find All Existed Todo": {
      "main": [
        [
          {
            "node": "If Exists Todo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Id Field": {
      "main": [
        [
          {
            "node": "Set Id & Replace \"",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Id & Replace \"": {
      "main": [
        [
          {
            "node": "Complete Todo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Not List All": {
      "main": [
        [
          {
            "node": "Find Undone Todo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Find All Todo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Silent": {
      "main": [
        [
          {
            "node": "Search Personal Channel",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Response to Channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Personal Channel": {
      "main": [
        [
          {
            "node": "Response To Personal Channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Max ID + 1": {
      "main": [
        [
          {
            "node": "Set Insert Values",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Insert Values": {
      "main": [
        [
          {
            "node": "Add todo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Id 1": {
      "main": [
        [
          {
            "node": "Set Insert Values",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Exists Todo": {
      "main": [
        [
          {
            "node": "Set Id 1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Max Id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Determine Action": {
      "main": [
        [
          {
            "node": "Todo Creation Arg Converter",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If Not List All",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Find Todo By Id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "eb24dce5d4aef556d676bc7f743db645da668ad0a28698a3baf0616aa1f0314b"
  }
}