todo/complete-todo.json
{
  "nodes": [
    {
      "parameters": {
        "collection": "todo",
        "options": {},
        "query": "={\"$and\":[{\"channel_id\": \"{{ $json.body.channel_id }}\"},{\"id\":{{ $json.body.text }}}]}"
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.1,
      "position": [
        -620,
        -20
      ],
      "id": "0cf2a290-6037-4166-9167-ea1b5bef7bf9",
      "name": "Find Todo By Id",
      "credentials": {
        "mongoDb": {
          "id": "n2QrVu9KS1tKt3TQ",
          "name": "BizForm Dev"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "10f4ab02-7c65-49d2-9f8b-3be363f5a408",
              "name": "_id",
              "value": "={{ $json._id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -420,
        -20
      ],
      "id": "3704046a-4832-420d-b5ce-e602475d5175",
      "name": "Set Id Field"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9739ca52-42f0-4775-b251-c0db1058b0d4",
              "name": "_id",
              "value": "={{ $json._id.replace(/\\\"/g, \"\") }}",
              "type": "string"
            },
            {
              "id": "b6adae5e-4c7c-49b1-935e-cad4490d23c8",
              "name": "done",
              "value": "=:white_check_mark:",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -220,
        -20
      ],
      "id": "09ca6d06-fb13-434c-904d-76d4bf6ffc9e",
      "name": "Set Id & Replace \""
    },
    {
      "parameters": {
        "operation": "update",
        "collection": "todo",
        "updateKey": "=_id",
        "fields": "done",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.1,
      "position": [
        -20,
        -20
      ],
      "id": "468b7702-dfbb-4093-82cc-3abfe347fe78",
      "name": "Complete Todo",
      "credentials": {
        "mongoDb": {
          "id": "n2QrVu9KS1tKt3TQ",
          "name": "BizForm Dev"
        }
      }
    },
    {
      "parameters": {
        "content": "\n## avoid double quote",
        "height": 260,
        "width": 300
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -320,
        -80
      ],
      "id": "7fb6700f-8540-4f82-8ae2-877ee9abb15f",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -820,
        -20
      ],
      "id": "b265cfc0-a2dc-4df3-888d-1b1e75f0862d",
      "name": "Webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Webhook').item.json.body.response_url }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "=Todo `{{ $('Find Todo By Id').item.json.text }}`  complete! 🎉"
            },
            {
              "name": "response_type",
              "value": "in_channel"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        180,
        -20
      ],
      "id": "904b04cd-d10a-4cd6-b969-1964b1799ab6",
      "name": "HTTP Request"
    }
  ],
  "connections": {
    "Find Todo By Id": {
      "main": [
        [
          {
            "node": "Set Id Field",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Id Field": {
      "main": [
        [
          {
            "node": "Set Id & Replace \"",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Id & Replace \"": {
      "main": [
        [
          {
            "node": "Complete Todo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Complete Todo": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Find Todo By Id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e6829468b8f56d858129133d295d8fa9bedbd82172869cf86fc48c8e6e82b330"
  }
}