todo/complete-todo.json
{
  "nodes": [
    {
      "parameters": {
        "collection": "todo",
        "options": {},
        "query": "={\"$and\":[{\"channel_id\": \"{{ $('Webhook').first().json.body.channel_id }}\"},{\"id\":{{ $json.id }}}]}"
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.1,
      "position": [
        -660,
        -20
      ],
      "id": "0cf2a290-6037-4166-9167-ea1b5bef7bf9",
      "name": "Find Todo By Id",
      "credentials": {
        "mongoDb": {
          "id": "n2QrVu9KS1tKt3TQ",
          "name": "BizForm Dev"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "10f4ab02-7c65-49d2-9f8b-3be363f5a408",
              "name": "_id",
              "value": "={{ $json._id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -420,
        -20
      ],
      "id": "3704046a-4832-420d-b5ce-e602475d5175",
      "name": "Set Id Field"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9739ca52-42f0-4775-b251-c0db1058b0d4",
              "name": "_id",
              "value": "={{ $json._id.replace(/\\\"/g, \"\") }}",
              "type": "string"
            },
            {
              "id": "b6adae5e-4c7c-49b1-935e-cad4490d23c8",
              "name": "done",
              "value": "=:white_check_mark:",
              "type": "string"
            },
            {
              "id": "19aba165-c21e-44c7-a04f-d8639cf3c890",
              "name": "comment",
              "value": "={{ $('Get Id').item.json.comment }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -220,
        -20
      ],
      "id": "09ca6d06-fb13-434c-904d-76d4bf6ffc9e",
      "name": "Set Id & Replace \""
    },
    {
      "parameters": {
        "operation": "update",
        "collection": "todo",
        "updateKey": "=_id",
        "fields": "done,comment",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.1,
      "position": [
        -20,
        -20
      ],
      "id": "468b7702-dfbb-4093-82cc-3abfe347fe78",
      "name": "Complete Todo",
      "credentials": {
        "mongoDb": {
          "id": "n2QrVu9KS1tKt3TQ",
          "name": "BizForm Dev"
        }
      }
    },
    {
      "parameters": {
        "content": "\n## avoid double quote",
        "height": 260,
        "width": 300
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -320,
        -80
      ],
      "id": "7fb6700f-8540-4f82-8ae2-877ee9abb15f",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1120,
        -20
      ],
      "id": "b265cfc0-a2dc-4df3-888d-1b1e75f0862d",
      "name": "Webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Webhook').item.json.body.response_url }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "=Todo `{{ $('Find Todo By Id').item.json.text }}`  complete! 🎉"
            },
            {
              "name": "response_type",
              "value": "in_channel"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        100
      ],
      "id": "904b04cd-d10a-4cd6-b969-1964b1799ab6",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3dea5247-0932-432e-93f8-c0eef19629fa",
              "leftValue": "={{ $('Webhook').first().json.body.text }}",
              "rightValue": "--silent",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        160,
        -20
      ],
      "id": "dc0f1a6a-f42d-42ad-b8f5-18579a2feb73",
      "name": "Is Silent"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://chat.gss.tw/api/v4/channels/direct",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": ""
            },
            {}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=[\n  \"y4dk4y9x1bbu8f7bkfpenmexow\",\n\"{{ $('Webhook').first().json.body.user_id }}\"\n]",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        -100
      ],
      "id": "0de0ed1c-7798-4749-b31d-a254c00c8f74",
      "name": "Create Direct Channel"
    },
    {
      "parameters": {
        "channelId": "={{ $json.id }}",
        "message": "=Todo `{{ $('Find Todo By Id').item.json.text }}`  complete! 🎉",
        "attachments": [],
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.mattermost",
      "typeVersion": 1,
      "position": [
        660,
        -100
      ],
      "id": "27c88b2c-3e76-4eaa-92a9-d3c491c7d6da",
      "name": "Mattermost",
      "credentials": {
        "mattermostApi": {
          "id": "QSV4fNtIj04Jhody",
          "name": "Mattermost account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json.body.text;\nconst regex = /(\\d+)\\s*(--comment=\"(.*)\")?/;\nlet id = null;\nlet comment = null;\n\nconst match = input.match(regex);\nif (match) {\n    id = Number(match[1]);    \n    if (match[2]) {\n        comment = match[3];\n    }\n}\n\n// 返回包含 id 和可選的 comment 的對象\nreturn { id, comment };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -880,
        -20
      ],
      "id": "1dead247-930a-4c29-b770-1ff1489ae204",
      "name": "Get Id"
    }
  ],
  "connections": {
    "Find Todo By Id": {
      "main": [
        [
          {
            "node": "Set Id Field",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Id Field": {
      "main": [
        [
          {
            "node": "Set Id & Replace \"",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Id & Replace \"": {
      "main": [
        [
          {
            "node": "Complete Todo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Complete Todo": {
      "main": [
        [
          {
            "node": "Is Silent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Get Id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Silent": {
      "main": [
        [
          {
            "node": "Create Direct Channel",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Direct Channel": {
      "main": [
        [
          {
            "node": "Mattermost",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Id": {
      "main": [
        [
          {
            "node": "Find Todo By Id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e6829468b8f56d858129133d295d8fa9bedbd82172869cf86fc48c8e6e82b330"
  }
}