Remind/add-remind.json
{
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "mattermost/todos/remind/:action",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          -280,
          -20
        ],
        "id": "1de8d58f-a1bb-4130-bbee-1e89478454d4",
        "name": "Webhook",
        "webhookId": "32321ca6-2529-4862-8705-ce9aa02be0fa"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.params.action }}",
                      "rightValue": "add",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "366d02c3-09e6-41b0-9b63-ff7c3faeb0cc"
                    }
                  ],
                  "combinator": "and"
                }
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.2,
        "position": [
          -80,
          -20
        ],
        "id": "08617d9f-42b7-4a78-b40d-053a449c6557",
        "name": "Switch"
      },
      {
        "parameters": {
          "operation": "insert",
          "collection": "remind",
          "fields": "id,enable,when,channel_id,last_triggered_at",
          "options": {}
        },
        "type": "n8n-nodes-base.mongoDb",
        "typeVersion": 1.1,
        "position": [
          1460,
          -60
        ],
        "id": "77320b3d-c86a-4318-92e7-fd7959c3a32e",
        "name": "MongoDB",
        "credentials": {
          "mongoDb": {
            "id": "mpJVL6vUNDV3B35S",
            "name": "mattermost"
          }
        }
      },
      {
        "parameters": {
          "fieldsToSummarize": {
            "values": [
              {
                "aggregation": "max",
                "field": "id"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.summarize",
        "typeVersion": 1.1,
        "position": [
          840,
          60
        ],
        "id": "8844b2c2-91de-4db1-ace6-65dfd86a1edb",
        "name": "Get Max Id"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "a2ee995f-23f8-4b66-9ecc-404b767cb48c",
                "name": "id",
                "value": "={{ $json.max_id +1 }} ",
                "type": "number"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1040,
          60
        ],
        "id": "206fcb5c-aeee-4176-88fb-1307a4ff0ad5",
        "name": "Set Max ID + 1"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "a2ee995f-23f8-4b66-9ecc-404b767cb48c",
                "name": "id",
                "value": "1",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          840,
          -140
        ],
        "id": "08be121d-22a1-43ba-8bb6-27036254eed0",
        "name": "Set Id 1"
      },
      {
        "parameters": {
          "collection": "remind",
          "options": {},
          "query": "={\"channel_id\": \"{{ $('Webhook').item.json.body.channel_id }}\"}"
        },
        "type": "n8n-nodes-base.mongoDb",
        "typeVersion": 1.1,
        "position": [
          420,
          -20
        ],
        "id": "5ea4f98c-bf1c-4ebb-b888-4109e0846aaa",
        "name": "Find All Existed Reminds",
        "alwaysOutputData": true,
        "credentials": {
          "mongoDb": {
            "id": "mpJVL6vUNDV3B35S",
            "name": "mattermost"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "e894ab39-3f0e-4751-aac7-d796b3e8180f",
                "leftValue": "={{ $('Find All Existed Reminds').item.json }}",
                "rightValue": 0,
                "operator": {
                  "type": "object",
                  "operation": "empty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          640,
          -20
        ],
        "id": "152f744d-fab8-4791-b5bd-40b516783bce",
        "name": "If Exists Reminds"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "e2a00ba9-7ea5-4ca6-9cc9-ccb3e90cdffe",
                "name": "channel_id",
                "value": "={{ $('Webhook').item.json.body.channel_id }}",
                "type": "string"
              },
              {
                "id": "00e7ba5e-5c2c-40a8-bbde-10562f7b7949",
                "name": "when",
                "value": "={{ $('Todo Creation Arg Converter1').item.json.when }}",
                "type": "string"
              },
              {
                "id": "1e7580ec-82af-4669-8882-03ce3c2c224e",
                "name": "user_name",
                "value": "={{ $('Webhook').item.json.body.user_name }}",
                "type": "string"
              },
              {
                "id": "d61c4ddc-f021-4d86-9461-da750aec60cc",
                "name": "id",
                "value": "={{ $json.id }}",
                "type": "number"
              },
              {
                "id": "1ca7cafa-d571-465c-ad1c-867545b206f2",
                "name": "enable",
                "value": true,
                "type": "boolean"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1260,
          -60
        ],
        "id": "b143a85f-f171-4814-829c-58388ac3360b",
        "name": "Set Insert Values",
        "alwaysOutputData": true,
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "jsCode": "const input = $input.first().json.body.text\n// Use a single regex to capture key-value pairs for both long (--key=value) and short (-k=value) options\nconst regex = /--([\\w-]+)=([\\w\\s!@#$%^&*()\\p{L}.]+)|-([\\w])=([\\w\\s!@#$%^&*()\\p{L}.]+)/gu;\n\nlet matches;\nlet when = null;\n\n// Loop through the matches\nwhile ((matches = regex.exec(input)) !== null) {\n    const key = matches[1] || matches[3]; // Get long option name or short key\n    var value = matches[2] || matches[4]; // Get the associated value\n    value = value.trimEnd()\n    // Assign to the appropriate variable based on the key\n    if (key === 'when') {\n        when = value;\n    }\n}\n\n// Return the results\nreturn { when };"
        },
        "id": "0a3024ea-0e65-4b06-9d4f-0037173cd8df",
        "name": "Todo Creation Arg Converter1",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          160,
          -20
        ]
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Switch",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch": {
        "main": [
          [
            {
              "node": "Todo Creation Arg Converter1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Max Id": {
        "main": [
          [
            {
              "node": "Set Max ID + 1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set Max ID + 1": {
        "main": [
          [
            {
              "node": "Set Insert Values",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set Id 1": {
        "main": [
          [
            {
              "node": "Set Insert Values",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Find All Existed Reminds": {
        "main": [
          [
            {
              "node": "If Exists Reminds",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If Exists Reminds": {
        "main": [
          [
            {
              "node": "Set Id 1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Get Max Id",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set Insert Values": {
        "main": [
          [
            {
              "node": "MongoDB",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Todo Creation Arg Converter1": {
        "main": [
          [
            {
              "node": "Find All Existed Reminds",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "pinData": {
      "Webhook": [
        {
          "headers": {
            "connection": "close",
            "host": "n8n.weiting.me",
            "x-real-ip": "20.89.163.71",
            "x-forwarded-for": "20.89.163.71",
            "x-forwarded-proto": "https",
            "content-length": "582",
            "user-agent": "Mattermost-Bot/1.1",
            "accept": "application/json",
            "authorization": "Token 8ciuxiymmidxtjnwhz4snbzbfy",
            "content-type": "application/x-www-form-urlencoded",
            "accept-encoding": "gzip"
          },
          "params": {
            "action": "add"
          },
          "query": {},
          "body": {
            "channel_id": "kik5etzf8tbxdg7ts1fz1ry5fa",
            "channel_name": "devin_test_webhook",
            "command": "/todo-remind-add",
            "response_url": "https://chat.gss.tw/hooks/commands/qbhw1nwxwbdufdkux4nznbyxkh",
            "team_domain": "gss",
            "team_id": "ryrniq9s6pggfxyoniqjpisxge",
            "text": "--when=*****",
            "token": "8ciuxiymmidxtjnwhz4snbzbfy",
            "trigger_id": "bjlhM2pvdXNpaW50NW03b3V6a245cGF1cGE6b2thbzF5cHd6amJpaW1kNW94Y2NxN2hkY2g6MTc0MTI3NTE2NDc3OTpNRVVDSVFEL3l5d1JIVktDamhMak9TZkFKV3lISlV6NG1mU24zdEsvZ05SbkNRUTV3QUlnTFpybWM0OEh4TXZKdHR2dDFJcjByZ2phTjVBc1hPaVhpcUV1RnI0OGJZRT0=",
            "user_id": "okao1ypwzjbiimd5oxccq7hdch",
            "user_name": "devin"
          },
          "webhookUrl": "https://n8n.weiting.me/webhook-test/32321ca6-2529-4862-8705-ce9aa02be0fa/mattermost/todos/remind/:action",
          "executionMode": "test"
        }
      ]
    },
    "meta": {
      "templateCredsSetupCompleted": true,
      "instanceId": "eb24dce5d4aef556d676bc7f743db645da668ad0a28698a3baf0616aa1f0314b"
    }
  }