Remind/add-remind.json
{
  "nodes": [
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.query.action }}",
                    "rightValue": "add",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "366d02c3-09e6-41b0-9b63-ff7c3faeb0cc"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1380,
        1020
      ],
      "id": "2836f0e6-ff87-438b-9e30-82ddbfadde78",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "insert",
        "collection": "remind",
        "fields": "id,enable,when,channel_id,last_triggered_at,creator_id,notify_channel_id,channel_name",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.1,
      "position": [
        2080,
        1180
      ],
      "id": "de608799-a1e1-4ab3-a20d-5b4fc62c667d",
      "name": "MongoDB",
      "credentials": {
        "mongoDb": {
          "id": "n2QrVu9KS1tKt3TQ",
          "name": "BizForm Dev"
        }
      }
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "max",
              "field": "id"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1.1,
      "position": [
        -460,
        1100
      ],
      "id": "dbdfea36-8ba3-43ac-95ba-a90c858c21d8",
      "name": "Get Max Id"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a2ee995f-23f8-4b66-9ecc-404b767cb48c",
              "name": "id",
              "value": "={{ $json.max_id +1 }} ",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -260,
        1100
      ],
      "id": "eb66e888-ba04-4296-a5c3-1139caec272e",
      "name": "Set Max ID + 1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a2ee995f-23f8-4b66-9ecc-404b767cb48c",
              "name": "id",
              "value": "1",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -460,
        900
      ],
      "id": "dd026cde-a537-4c20-aa98-f0d66a88c484",
      "name": "Set Id 1"
    },
    {
      "parameters": {
        "collection": "remind",
        "options": {},
        "query": "={\"channel_id\": \"{{ $('Webhook').item.json.body.channel_id }}\"}"
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.1,
      "position": [
        -880,
        1020
      ],
      "id": "c436f7a6-f007-47e3-a0c0-0bbd7a786c29",
      "name": "Find All Existed Reminds",
      "alwaysOutputData": true,
      "credentials": {
        "mongoDb": {
          "id": "n2QrVu9KS1tKt3TQ",
          "name": "BizForm Dev"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e894ab39-3f0e-4751-aac7-d796b3e8180f",
              "leftValue": "={{ $('Find All Existed Reminds').item.json }}",
              "rightValue": 0,
              "operator": {
                "type": "object",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -660,
        1020
      ],
      "id": "0eba588d-6563-496b-858e-a21933eb5663",
      "name": "If Exists Reminds"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e2a00ba9-7ea5-4ca6-9cc9-ccb3e90cdffe",
              "name": "notify_channel_id",
              "value": "={{ $json. channel_id}}",
              "type": "string"
            },
            {
              "id": "00e7ba5e-5c2c-40a8-bbde-10562f7b7949",
              "name": "when",
              "value": "={{ $('Todo Creation Arg Converter1').item.json.when }}",
              "type": "string"
            },
            {
              "id": "1e7580ec-82af-4669-8882-03ce3c2c224e",
              "name": "user_name",
              "value": "={{ $('Webhook').item.json.body.user_name }}",
              "type": "string"
            },
            {
              "id": "d61c4ddc-f021-4d86-9461-da750aec60cc",
              "name": "id",
              "value": "={{ $('Is Personal Channel').item.json.id }}",
              "type": "number"
            },
            {
              "id": "1ca7cafa-d571-465c-ad1c-867545b206f2",
              "name": "enable",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "da352e0d-5930-4488-8811-ab7a5d80dfe9",
              "name": "creator_id",
              "value": "={{ $('Webhook').item.json.body.user_id }}",
              "type": "string"
            },
            {
              "id": "62b81af6-cd68-4da0-97ab-04ee62cb40f2",
              "name": "channel_id",
              "value": "={{ $('Webhook').item.json.body.channel_id }}",
              "type": "string"
            },
            {
              "id": "dd416097-6181-4c31-8ce0-e9a8d6f72da0",
              "name": "channel_name",
              "value": "",
              "type": "string"
            },
            {
              "id": "4222484a-8e8e-4348-ae6a-4d1749267993",
              "name": "channel_name",
              "value": "={{ $json.channel_name }}",
              "type": "string"
            },
            {
              "id": "668baf58-13ab-48ba-b687-ac8658786c2f",
              "name": "last_triggered_at",
              "value": 0,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1820,
        1180
      ],
      "id": "70bceb12-8801-4a9a-a696-ff694ba1db1c",
      "name": "Set Insert Values",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json.body.text\n// Use a single regex to capture key-value pairs for both long (--key=value) and short (-k=value) options\nconst regex = /--([\\w-]+)=([\\w\\s!@#$%^&*()\\p{L}.]+)|-([\\w])=([\\w\\s!@#$%^&*()\\p{L}.]+)/gu;\n\nlet matches;\nlet when = null;\n\n// Loop through the matches\nwhile ((matches = regex.exec(input)) !== null) {\n    const key = matches[1] || matches[3]; // Get long option name or short key\n    var value = matches[2] || matches[4]; // Get the associated value\n    value = value.trimEnd()\n    // Assign to the appropriate variable based on the key\n    if (key === 'when') {\n        when = value;\n    }\n}\n\n// Return the results\nreturn { when };"
      },
      "id": "a04828da-7857-41d7-b8af-4efbb6728e83",
      "name": "Todo Creation Arg Converter1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1140,
        1020
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://chat.gss.tw/api/v4/channels/direct",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": ""
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=[\n  \"y4dk4y9x1bbu8f7bkfpenmexow\",\n\"{{ $('Webhook').item.json.body.user_id }}\"\n]",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        1080
      ],
      "id": "d314741e-6741-4422-8bc5-de4a55a21707",
      "name": "Create Direct Channel"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5ccf1aa9-c2b5-4142-a337-d240e1b7c0d7",
              "leftValue": "={{ $('Webhook').item.json.body.channel_name }}",
              "rightValue": "__",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -40,
        1020
      ],
      "id": "b4e17fbd-1816-4f73-9682-d5cd0655fe93",
      "name": "Is Personal Channel"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cae373dc-686e-493d-8f19-3b5a5159c864",
              "name": "channel_id",
              "value": "={{ $('Webhook').item.json.body.channel_id }}",
              "type": "string"
            },
            {
              "id": "f5eb91b0-12a2-4749-8ece-9e109eecbe22",
              "name": "channel_name",
              "value": "={{ $json.display_name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1020,
        1340
      ],
      "id": "27aaf3e7-20d7-4770-a5d9-4232aa7dd36a",
      "name": "Set Channel"
    },
    {
      "parameters": {
        "url": "=https://chat.gss.tw/api/v4/users/{{ $json.ids }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": ""
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        700
      ],
      "id": "e3e2d2e4-643f-48ab-bb59-b6b81ec30bcb",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "let a = $('Webhook').first().json.body.channel_name.split(\"__\");\nreturn {ids: a};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        700
      ],
      "id": "c16e0fab-7762-49fc-8465-e08729ca0cff",
      "name": "Code"
    },
    {
      "parameters": {
        "fieldToSplitOut": "ids",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        660,
        700
      ],
      "id": "0d82b701-b577-410b-b8a8-17494c8ccf20",
      "name": "Split Out"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "username"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1120,
        700
      ],
      "id": "1ff5c2a9-15ad-4d4b-b244-045b2e744621",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\n\nlet a = $input.first().json.username.join(\" & \")\nreturn {channel_name: a}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1340,
        700
      ],
      "id": "5944be7f-5269-45a3-bf03-d61998d50024",
      "name": "Generate Channel Name"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "552da440-f998-42a0-a07d-d5e048375e76",
              "name": "channel_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "b535961c-8ecb-499a-96c4-e8c3ec48a652",
              "name": "channel_name",
              "value": "={{ $('Generate Channel Name').item.json.channel_name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1400,
        1080
      ],
      "id": "e1bf0c7d-95a4-4353-84d2-7b2e4d841c07",
      "name": "Set Channel1"
    },
    {
      "parameters": {
        "url": "=https://chat.gss.tw/api/v4/channels/{{ $('Webhook').item.json.body.channel_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": ""
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        1200
      ],
      "id": "c6872ab2-72fc-46a3-8850-f7d3de2e95b0",
      "name": "Get Channel Info"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1600,
        1020
      ],
      "id": "bc88a2cc-61be-42a2-b1c3-03eb65a23bbb",
      "name": "Webhook"
    }
  ],
  "connections": {
    "Switch": {
      "main": [
        [
          {
            "node": "Todo Creation Arg Converter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Max Id": {
      "main": [
        [
          {
            "node": "Set Max ID + 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Max ID + 1": {
      "main": [
        [
          {
            "node": "Is Personal Channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Id 1": {
      "main": [
        [
          {
            "node": "Is Personal Channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find All Existed Reminds": {
      "main": [
        [
          {
            "node": "If Exists Reminds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Exists Reminds": {
      "main": [
        [
          {
            "node": "Set Id 1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Max Id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Insert Values": {
      "main": [
        [
          {
            "node": "MongoDB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Todo Creation Arg Converter1": {
      "main": [
        [
          {
            "node": "Find All Existed Reminds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Direct Channel": {
      "main": [
        [
          {
            "node": "Set Channel1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Personal Channel": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Channel Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Channel": {
      "main": [
        [
          {
            "node": "Set Insert Values",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Generate Channel Name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Channel Name": {
      "main": [
        [
          {
            "node": "Create Direct Channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Channel1": {
      "main": [
        [
          {
            "node": "Set Insert Values",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Channel Info": {
      "main": [
        [
          {
            "node": "Set Channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e6829468b8f56d858129133d295d8fa9bedbd82172869cf86fc48c8e6e82b330"
  }
}