Remind/add-remind.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "mattermost/todos/reminds",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1120,
        120
      ],
      "id": "67cf0879-c18a-431d-9edd-1c3262968dfb",
      "name": "Webhook",
      "webhookId": "32321ca6-2529-4862-8705-ce9aa02be0fa"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.query.action }}",
                    "rightValue": "add",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "366d02c3-09e6-41b0-9b63-ff7c3faeb0cc"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -920,
        120
      ],
      "id": "492af6a3-c43d-49d8-be64-a73d745d8a75",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "insert",
        "collection": "remind",
        "fields": "id,enable,when,channel_id,last_triggered_at,creator_id",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.1,
      "position": [
        620,
        80
      ],
      "id": "66905f1f-b632-4087-9c50-8091b8d60d4b",
      "name": "MongoDB",
      "credentials": {
        "mongoDb": {
          "id": "n2QrVu9KS1tKt3TQ",
          "name": "BizForm Dev"
        }
      }
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "max",
              "field": "id"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1.1,
      "position": [
        0,
        200
      ],
      "id": "8865ed76-a217-4242-9dd1-756892abbfd3",
      "name": "Get Max Id"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a2ee995f-23f8-4b66-9ecc-404b767cb48c",
              "name": "id",
              "value": "={{ $json.max_id +1 }} ",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        200,
        200
      ],
      "id": "0700e86d-108d-480f-8452-f6f9b61bde9d",
      "name": "Set Max ID + 1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a2ee995f-23f8-4b66-9ecc-404b767cb48c",
              "name": "id",
              "value": "1",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        0
      ],
      "id": "5a53dde8-1623-4ffd-a524-ca9e517cc810",
      "name": "Set Id 1"
    },
    {
      "parameters": {
        "collection": "remind",
        "options": {},
        "query": "={\"channel_id\": \"{{ $('Webhook').item.json.body.channel_id }}\"}"
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.1,
      "position": [
        -420,
        120
      ],
      "id": "1a06355a-672f-4b74-8a2b-e7c9623f6d9a",
      "name": "Find All Existed Reminds",
      "alwaysOutputData": true,
      "credentials": {
        "mongoDb": {
          "id": "n2QrVu9KS1tKt3TQ",
          "name": "BizForm Dev"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e894ab39-3f0e-4751-aac7-d796b3e8180f",
              "leftValue": "={{ $('Find All Existed Reminds').item.json }}",
              "rightValue": 0,
              "operator": {
                "type": "object",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -200,
        120
      ],
      "id": "34b0ebfa-0a8f-485d-a553-730257e8265f",
      "name": "If Exists Reminds"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e2a00ba9-7ea5-4ca6-9cc9-ccb3e90cdffe",
              "name": "channel_id",
              "value": "={{ $('Webhook').item.json.body.channel_id }}",
              "type": "string"
            },
            {
              "id": "00e7ba5e-5c2c-40a8-bbde-10562f7b7949",
              "name": "when",
              "value": "={{ $('Todo Creation Arg Converter1').item.json.when }}",
              "type": "string"
            },
            {
              "id": "1e7580ec-82af-4669-8882-03ce3c2c224e",
              "name": "user_name",
              "value": "={{ $('Webhook').item.json.body.user_name }}",
              "type": "string"
            },
            {
              "id": "d61c4ddc-f021-4d86-9461-da750aec60cc",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "number"
            },
            {
              "id": "1ca7cafa-d571-465c-ad1c-867545b206f2",
              "name": "enable",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "da352e0d-5930-4488-8811-ab7a5d80dfe9",
              "name": "creator_id",
              "value": "={{ $('Webhook').item.json.body.user_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        420,
        80
      ],
      "id": "d7440ee8-51d4-46e9-b98b-a8fae1fa0874",
      "name": "Set Insert Values",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json.body.text\n// Use a single regex to capture key-value pairs for both long (--key=value) and short (-k=value) options\nconst regex = /--([\\w-]+)=([\\w\\s!@#$%^&*()\\p{L}.]+)|-([\\w])=([\\w\\s!@#$%^&*()\\p{L}.]+)/gu;\n\nlet matches;\nlet when = null;\n\n// Loop through the matches\nwhile ((matches = regex.exec(input)) !== null) {\n    const key = matches[1] || matches[3]; // Get long option name or short key\n    var value = matches[2] || matches[4]; // Get the associated value\n    value = value.trimEnd()\n    // Assign to the appropriate variable based on the key\n    if (key === 'when') {\n        when = value;\n    }\n}\n\n// Return the results\nreturn { when };"
      },
      "id": "f02fab1f-b094-41ed-b3fd-93540bcc4d21",
      "name": "Todo Creation Arg Converter1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -680,
        120
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Todo Creation Arg Converter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Max Id": {
      "main": [
        [
          {
            "node": "Set Max ID + 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Max ID + 1": {
      "main": [
        [
          {
            "node": "Set Insert Values",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Id 1": {
      "main": [
        [
          {
            "node": "Set Insert Values",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find All Existed Reminds": {
      "main": [
        [
          {
            "node": "If Exists Reminds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Exists Reminds": {
      "main": [
        [
          {
            "node": "Set Id 1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Max Id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Insert Values": {
      "main": [
        [
          {
            "node": "MongoDB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Todo Creation Arg Converter1": {
      "main": [
        [
          {
            "node": "Find All Existed Reminds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e6829468b8f56d858129133d295d8fa9bedbd82172869cf86fc48c8e6e82b330"
  }
}