Remind/remind-controller.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "mattermost/todos/reminds",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -20,
        20
      ],
      "id": "0c72f679-eeb2-4dbf-849c-42a39c555e5c",
      "name": "Webhook",
      "webhookId": "69904d2e-0d4b-494e-a04d-ebb627b648b4"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.query.action }}",
                    "rightValue": "add",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "e9d2ff7f-314a-438e-af23-60b23248b274"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c9834751-9110-4926-975e-794d353aca3a",
                    "leftValue": "={{ $json.query.action }}",
                    "rightValue": "list",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "6fc1c634-9af2-4ffe-af62-26849c844146",
                    "leftValue": "={{ $json.query.action }}",
                    "rightValue": "update",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "dfa382bb-fb0c-47b4-9f15-4fc09d0f4c57",
                    "leftValue": "={{ $json.query.action }}",
                    "rightValue": "disable",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f967143e-8e8a-4e54-b5f4-b0236e9702be",
                    "leftValue": "={{ $json.query.action }}",
                    "rightValue": "enable",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        220,
        -20
      ],
      "id": "30480942-2202-47b5-ad97-582601f1b5d6",
      "name": "Determine Action"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "LsFiO1DgVIBTYqfa",
          "mode": "list",
          "cachedResultName": "Add Remind"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        880,
        -280
      ],
      "id": "fcf289c4-a159-4996-b9f0-ee5f734c3cc2",
      "name": "Add Remind"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "tcLQNvWUHQaqMksS",
          "mode": "list",
          "cachedResultName": "Update Remind"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        880,
        -40
      ],
      "id": "fd55988a-92aa-4b68-9a2c-5a54fc7363e7",
      "name": "Update Remind"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Sn7b2XGBoSgm4JzS",
          "mode": "list",
          "cachedResultName": "Disable Remind"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        880,
        100
      ],
      "id": "fbfe9cbc-e7d3-40fb-9697-cdff2cb1d109",
      "name": "Disable Remind"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "hYoY51xzom0BAmq3",
          "mode": "list",
          "cachedResultName": "Enable remind"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        880,
        260
      ],
      "id": "874f1409-0ac3-4937-8832-3f73d79ee406",
      "name": "Enable Remind"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "oqIaqjFdcxAFxLV6",
          "mode": "list",
          "cachedResultName": "List Remind"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        880,
        -160
      ],
      "id": "252e68f6-8d05-4796-a1c2-e6e8060a2157",
      "name": "List Reminds"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Determine Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Determine Action": {
      "main": [
        [
          {
            "node": "Add Remind",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "List Reminds",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Remind",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Disable Remind",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enable Remind",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "e6829468b8f56d858129133d295d8fa9bedbd82172869cf86fc48c8e6e82b330"
  }
}